{% extends 'base.html' %}

{% block bodycontent %}
<div>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">DHFL GI Assignment</a>
          <div class="navbar-nav">
            <a href="{% url 'login'%}" align='right'>
                <button type="button" class="btn btn-success btn-space">Login</button>
            </a>
            <a href="{% url 'register'%}" align='right'>
                <button type="button" class="btn btn-primary btn-space">Register</button>
            </a>
          </div>
     </nav>
  </div>
<I>
    Hello Team, <br>

    I have used both functional and CBV views to achieve different goals in the application, <br>
    For password reset , django 2.1 have nice CBVs , I have used them too. I have commented code <br>
    after I found better way to achieve the goal. Bootstrap CDN is used for front-end.<br>
    All features are implemented.
    <br>
    I have also used git branching at times for achieving different goals.
    There might be those commits too in the repository.
    <br>
    The assignment helped me alot in learning new things. Thanks a lot :)
    <br>
    Thanks & Regards, <br>
    Sandesh Daundkar <br>

    Please use below link to login to admin panel. <br>
    <a href="http://127.0.0.1:8000/admin/">Admin Login</a>
</I>
{% endblock %}



