{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block bodycontent %}

  {% if validlink %}
    <h3>Change password</h3>
    <div class="jumbotron">
    <div class="container" align="center">
      <p>Please enter registered email address</p>
        <form method="post">
            <div>
                <div class="col-3">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}

{% endblock %}