{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block bodycontent %}
<div>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">DHFL GI Assignment</a>
          <div class="navbar-nav">
            <a href="{% url 'login'%}" align='right'>
                <button type="button" class="btn btn-light btn-space">Login</button>
            </a>
          </div>
     </nav>
  {% if validlink %}
    <h3>Change password</h3>
    <p> {{ user.email }}</p>
    <div class="jumbotron">
    <div class="container" align="center">
        <form method="post">
            <div>
                <div class="col-3">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}

{% endblock %}